/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/09/2024, 11:23:32 AM
    Author     : ALEANDRES RODRIGUEZ
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px; 
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
}

.left-side {
    background-color: #000;
    width: 50%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shoe-image {
    width: 100%;
    max-width: 400px;
}

.buttons {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-btn, .signup-btn {
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover, .signup-btn:hover {
    background-color: orange; 
    color: black;
}

.right-side {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#form-container {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho del formulario */
}

.form {
    display: none;
    flex-direction: column;
}

.form.active {
    display: flex;
}

.input-group-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px; /* Espacio entre filas */
}

.input-group {
    position: relative;
    flex: 1;
    margin-bottom: 20px; /* Ajuste del margen inferior */
    display: flex;
    align-items: center;
}

.input-group input {
    width: 100%; 
    padding: 10px 30px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-bottom: 2px solid orange;
}

.input-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 18px;
}

.forgot-password {
    text-align: center;
    color: orange;
    font-size: 14px;
    margin-bottom: 20px;
    text-decoration: none;
}

.login-btn-form {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.login-btn-form:hover {
    background-color: orange;
}

.input-group input[type="date"] {
    padding-left: 10px; 
    width: 100%; 
}
